<h1>Let's book you a new trip.</h1>



<% if itinerary.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(itinerary.errors.count, "error") %> prohibited your trip from being saved!</h2>


<!-- flash[:error] = @itinerary.errors.full_messages.to_sentence -->
<!-- I guess I'm not too sure if we should use flash or do it this way.-->

  <ul>
  <% itinerary.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>


<%= form_for(@itinerary) do |f| %>

<%= f.label :destination_id %>
<%= collection_select(:destination_id, @destinations, :id, :name) %>

<%= f.label :salesman_id %>
<%= collection_select(:salesman_id, @salesmen, :id, :name) %> 
<!-- Salesman name should lock based on who's logged in. Check session? -->

<%= f.label :flight_id %>
<%= collection_select(:flight_id, @flights, :id, :flight_number) %>

<%= f.label :hotel_id %>
<%= collection_select(:hotel_id, @hotels, :id, :name) %>



    <%= f.submit %>
<% end %>
