<% if itinerary.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(itinerary.errors.count, "error") %> prohibited your trip from being saved!</h2>


<!-- flash[:error] = @itinerary.errors.full_messages.to_sentence -->
<!-- I guess I'm not too sure if we should use flash or do it this way.-->

  <ul>
  <% itinerary.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>


<%= form_for(@itinerary) do |f| %>

<%= collection_select(@itinerary, @destinations, :id, :name) %>
<%= collection_select(@itinerary, @salesmen, :id, :name) %> 
<!-- Salesman name should lock based on who's logged in. Check session? -->
<%= collection_select(@itinerary, @flights, :id, :flight_number) %>
<%= collection_select(@itinerary, @hotels, :id, :name) %>



    <%= f.submit %>
<% end %>
