<h1> Here's a list of your upcoming itineraries:</h1>


<% @itineraries.each do |itinerary| %>
<ul>

 Location: <%= itinerary.destination.location %> 
Flight Date: <%= itinerary.flight.flight_date %>
Class: <%= itinerary.flight.level %>
Flight<%= itinerary.flight.flight_number %>

<%=itinerary.hotel.name%>
<%=itinerary.hotel.star_rating%>
<%=itinerary.hotel.guest_rating%>
<%=itinerary.hotel.is_available?%>


</ul>      


<% end %>

<%= link_to "Click this itinerary to view details", @itinerary %>

<%= link_to "New itinerary", new_itinerary_path %>