<h1> Here's a list of your upcoming itineraries:</h1>


<% @itineraries.each do |itinerary| %>
<ul>

Destination: <%= itinerary.destination.location %> 
<br><br>
Flight Date: <%= itinerary.flight.flight_date %>
<br><br>
Class: <%= itinerary.flight.level %>
<br><br>
Flight<%= itinerary.flight.flight_number %>
<br><br>
<%=itinerary.hotel.name%>
<%# <%=itinerary.hotel.star_rating%>
<%# <%=itinerary.hotel.guest_rating%>
<%# <%=itinerary.hotel.is_available?%> 
<br><br><br><br><br><br>

</ul>      


<% end %>

<%# <%= if %>

<%= link_to "Click this itinerary to view details", @itinerary %>

<%= link_to "New itinerary", new_itinerary_path %>