<h1> Your account: </h1><p>
  <strong>First and last name:</strong>
  <%= @salesman.name %>
</p>
<p>
  <strong>Company:</strong>
  <%= @salesman.company %>
</p>
<%= link_to 'Edit', edit_salesman_path(@salesman) %>
<p></p>

<br>

<h2> What would you like to do?</h2>
<p><%= link_to 'Create a new itinerary.', new_itinerary_path %> </p>
<p><%= link_to 'View your upcoming trips.', itineraries_path %></p>



<ul>
<% @salesman.itineraries.each do |itinerary| %>
<li>
<%= link_to "#{itinerary.destination.location} ",destination_path(itinerary.destination_id) %>

<% end %>


</li>

</ul>
