
<ul>

<h1>Let's Go!!</h1>

<!-- <p><a href="#">OPTION TO UPDATE PERSONAL INFO</a></p> -->
<%= link_to "View your profile.", salesman_path %>



<p>PROFILE HIGHLIGHTS</p>
<%# <----  <%= OF ATTRIBUTES OR LAST TRIPS TAKEN%> 
<%= link_to "View your past trips.", new_itinerary_path %>


<p><a href="#"><a href="#">LIST OF USERS UP COMING INITERARIES</a></p>
<%= link_to "View your upcoming trips.", salesman_itinerary_path %>
<%# <----  THIS WOULD BE THE SALESMAN CONTROLLER EDIT ACTION  ------> %>


<!-- <p><a href="#">OPTION TO BOOK A NEW TRIP</a></p> -->
<%= link_to "Book a new trip.", new_itinerary_path %>
<%# <----  ITINERARY.NEW  ------> %>

<!-- <p><a href="#">LOG OUT</a></p> -->
<%= link_to "Logout", login_path %>

</ul>


