<h1> Select Destination by country:</h1>

<p><%= link_to 'United States of America', destination_path %></p>
<p><%= link_to 'Greece', destination_path %></p>
<p><%= link_to 'England', destination_path %></p>
<p><%= link_to 'China', destination_path %></p>
<p><%= link_to 'Germany', destination_path %></p>
<p><%= link_to 'Japan', destination_path %></p>
<p><%= link_to 'Italy', destination_path %></p>
<p><%= link_to 'Australia', destination_path %></p>